*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.h-navigation{
    padding-top: 25px;
    padding-bottom: 23px;
}
.h-navigation nav{
    display: flex;
}
.h-navigation nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.h-navigation nav ul li{
    padding-right: 32px;
}
.h-navigation ul li:last-child{
    padding-right: 0;
}
.h-navigation nav ul li a{
    color: #222222;
    text-decoration: none;
    font-family: 'Poppins';
}
.h-navigation_ul-demos a{
    color: #FD8558 !important; 
}
.h-navigation nav ul span{
    padding-right: 210px;
    padding-left: 156px;
}
.h-navigation nav ul span a{
    color: #222222;
    /* color: transparent; */
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.1px;
    
}
.menu-open{
    background-color: transparent;
    border: transparent;
    margin-left: 20px;
    display: none;
}
.open-menu img{
    width: 20px;
}
/* BIG SHOWCASE BLOCK */
.h-showcase{
    background-image: url(../img/Header_images/header_background.png);
    /* background-size: cover; */
    background-size: 100%;
    background-repeat: no-repeat;
}
.h-showcase-slogan{
    color: white;
    font-weight: 400;
    font-size: 70px;
    text-align: center;
    line-height: 85px;
    font-family: 'Poppins';
    padding-top: 250px;
    padding-bottom: 40px;
}
.h-showcase-buttons{
    display: flex;
    justify-content: center;
}
.h-showcase-buttons__start-now{
    padding-right: 28px;
    padding-bottom: 310px;
}
.h-showcase-buttons__start-now a{
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins';
    text-decoration: none;
    background-color: #FD8558;
    padding: 15px 40px;

    transition: 0.4s ease-in-out;
}
.h-showcase-buttons__start-now a:hover{
    background-color: white;
    color: #FD8558;
}
.h-showcase-buttons__see-more a{
    color: white;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins';
    text-decoration: none;
    border: 2px solid #FD8558;
    padding: 13px 38px;

    transition: 0.4s ease-in-out;
}
.h-showcase-buttons__see-more a:hover{
    color: #FD8558;
    background-color: white;
}
/* MAIN BLOCK */
/* ABOUT US BLOCK */
.about-us__block{
    padding-top: 52px;
}
.about-us__bg{
    color: #F7F7F7;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    letter-spacing: 0.1px;
    padding-left: 15px;
}
.about-us__info{
    margin-right: auto;
    margin-left:  auto;
    max-width: 1650px;
    padding-right: 120px;
    padding-left:  120px;
}
.about-us__heading{
    padding-top: 15px;
    max-width: 510px;
}
.about-us__heading p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FD8558;
}
.about-us__heading h2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    color: #333333;
    padding-top: 35px;
}
.about-us__info{
    display: flex;
}
.about-us__short-info{
    padding-left: 90px;
}
.about-us__short-info h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #222222;
}
.about-us__short-info p{
    width: 591px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #999999;
    padding-top: 11px;
}
.about-us_fav-quotes{
    padding-top: 57px;

    margin-right: auto;
    margin-left:  auto;
    max-width: 1554px;
    padding-right: 183px;
    padding-left:  183px;

    display: flex;
}

.about-us__quote{
    padding-left: 48px;
}
.about-us__quote h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 45px;
    color: #222222;
    width: 387px;
    padding-top: 68px;
}
.about-us__quote h3 span{
    color: #FD8558;
}
.about-us__quote h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #222222;
    padding-top: 97px;
}
.about-us__quote p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1.8px;
    color: #CACACA;
    padding-top: 14px;
}
/* ADVANTAGES BLOCK */
.about-us__advantages-block{
    padding-top: 185px;

    margin-right: auto;
    margin-left:  auto;
    max-width: 1608px;
    padding-right: 146px;
    padding-left:  146px;

    display: flex;
    justify-content: space-between;
}
.advantages{
    max-width: 337px;
}
.advantures-img{
    text-align: center;
}
.advantages h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    text-align: center;
}
.advantages p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #999999;
    text-align: center;
    padding-top: 17px;
}
/* BLOCK TRANSITION */
.main-block-transition{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-block-transition__hr-line{
    width: 606px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 2px solid #F5F5F5;  
}
.main-block-transition__circle{
    width: 80px;
    height: 80px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 40px;
    background: rgba(253, 133, 88, 0.2);
    margin: 0px 40px;
}
/* LASTEST WORKS BLOCK */
.lastest-works{
    padding-top: 141px;
}
.lastest-works__head{
    margin-right: auto;
    margin-left:  auto;
    max-width: 1650px;
    padding-right: 120px;
    padding-left:  120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lastest-works__head-text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FD8558;
}
.lastest-works__head-text h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
    max-width: 312px;
}
.lastest-works__head-button a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background: #FD8558;
    border: 2px solid #FD8558;
    padding: 13px 37px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.lastest-works__head-button a:hover{
    color: #FD8558;
    background-color: white;
    border: 2px solid #FD8558;
}
.lastest-works__head-bg{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    color: #F7F7F7;
    text-align: right;

    margin-right: auto;
    margin-left:  auto;
    max-width: 1650px;
    padding-right: 100px;
    padding-left:  120px;
    margin-top: -80px; /*!!!!!!!!!!!!!!!!*/
}
.lastest-works-examples{
    margin-top: -75px;
    display: flex;
}
.lastest-works-examples__first img{
    float: left;
    padding: 0;
    margin: 0;
}
.lastest-works-examples__third img{
    padding: 0;
    margin: 0;
    float: right;
}
.lastest-works-examples__sec{
    max-width: 799px;
}
/* OUR SKILLS BLOCK */
.our-skills-block{
    margin-right: auto;
    margin-left:  auto;
    max-width: 1608px;
    padding-right: 146px;
    padding-left:  146px;
    padding-top: 115px;
    display: flex;
}
.our-skills-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    color: #FD8558;
    padding-top: 44px;
}
.our-skills-block__text h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    max-width: 388px;
    padding-top: 7px;
}
.our-skills-block__text p:last-child{   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #999999;
    padding-top: 12px;
    max-width: 456px;
}
.our-skills-graphics{
    padding-left: 71px;
}
.our-skills-graphics__first{
    padding-bottom: 45px;
}
.our-skills-graphics__first h5, .our-skills-graphics__second h5, .our-skills-graphics__third h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #222222;
    padding-bottom: 15px;
}
.our-skills-graphics__first h5 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #999999;
    padding-left: 404px;
}
.our-skills-graphics__second{
    padding-bottom: 45px;
}
.our-skills-graphics__second h5 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #999999;
    padding-left: 348px;
}
.our-skills-graphics__third h5 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #999999;
    padding-left: 408px;
}
/* OUR TEAM BLOCK */
.our-team-block{
    margin-right: auto;
    margin-left:  auto;
    max-width: 1608px;
    padding-right: 146px;
    padding-left:  146px;

    padding-top: 156px;
}
.our-team-block__head p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    color: #FD8558;
}
.our-team-block__head h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #222222;
    padding-top: 26px;
}
.our-team__cards-fp{
    padding-top: 40px;

    display: flex;
    justify-content: space-between;
}
.our-team__cards-sp{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.our-team__cards-text-h5-style{
    padding-top: 159px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: white;
    text-align: center;
}
.our-team__cards-text-p-style{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FCFCFC;
    text-align: center;
}
.our-team__cards-1{
    background-image: url(../img/Our-team-cards/card-1.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}
.our-team__cards-2{
    background-image: url(../img/Our-team-cards/card-2.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}
.our-team__cards-3{
    background-image: url(../img/Our-team-cards/card-3.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}
.our-team__cards-4{
    background-image: url(../img/Our-team-cards/card-4.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}
.our-team__cards-5{
    background-image: url(../img/Our-team-cards/card-5.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}
.our-team__cards-6{
    background-image: url(../img/Our-team-cards/card-6.png);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
}
.our-team__start-work-button{
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.our-team__start-work-button a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: white;
    background: #FD8558;
    text-decoration: none;
    padding: 13px 37px;
    border: 2px solid transparent;
    transition: 0.4s ease-in-out;
}
.our-team__start-work-button a:hover{
    background: white;
    color: #FD8558;
    border: 2px solid #FD8558;
}
/* TESTIMONIALS BLOCK */
.testimonials-block{
    margin-top: 115px;
    padding-top: 70px;
    background: #3A0F73;
}
.testimonials-text__bg{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    color: rgba(170, 170, 170, 0.1);
    text-align: center;
}
.testimonials-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.testimonials-author{
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 215px;
}
.testimonials-author__text{
    padding-left: 15px;
}
.testimonials-author__text h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: white;
}
.testimonials-author__text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    padding-top: 5px;
}
/* NEWS BLOCK */
.news-block__head{
    padding-top: 122px;
}
.news-block__head p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    color: #FD8558;
}
.news-block__head h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #222222;
    padding-top: 43px;
}
.news-block__cards{
    margin-right: auto;
    margin-left:  auto;
    max-width: 1620px;
    padding-right: 150px;
    padding-left:  150px;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.news-cards__style-info{
    display: flex;
    padding-top: 28px;
}
.news-cards__style-info-lifestyle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;    
    color: #FD8558;
}
.news-cards__style-info-design{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;    
    color: #FD8558;
    padding-left: 10px;
}
.news-cards__style-info-date{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}
.news-cards__style-info-date i{
    font-size: 5px;
    padding: 0 10px;
}
.news-cards__style-header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #222222;
    padding-top: 20px;
    padding-bottom: 36px;
    max-width: 326px;
}
.news-cards__style-button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FD8558;
    text-decoration: none;
}
/* INFORMATION BLOCK */
.main-information{
    padding-top: 115px;
    margin-right: auto;
    margin-left:  auto;
    max-width: 1620px;
    padding-right: 150px;
    padding-left:  150px;

    display: flex;
}
.main-information__contact-info{
    padding-right: 199px;
}
.main-information__contact-info__styles p{
    font-family: 'Poppins';
    font-size: 14px;
    letter-spacing: 2px;
    color: rgba(34, 34, 34, 0.4);
}
.main-information__contact-info__contacts p{
    padding-top: 45px;
}
.main-information__contact-info__styles h5{
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 33px;
    color: #222222;
    max-width: 303px;
}
.main-information__form-info{
    display: flex;
}
.main-information__form-info input{
    width: 338px;
    padding: 18px 199px 18px 40px;
    font-family: 'Poppins';
    border: 1px solid #EEEEEE;
}
.main-information__form-info input:first-child{
    margin-right: 29px;
}
.main-information__form-message{
    padding-top: 30px;
}
.main-information__form-message textarea{
    width: 100%;
    padding: 20px 0px 87px 40px;
    font-family: 'Poppins';
    border: 1px solid #EEEEEE;
}
.main-information__form button{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background: #FD8558;
    padding: 15px 38px;
    margin-top: 65px;
    border: 2px solid #FD8558;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.main-information__form button:hover{
    background: white;
    color: #FD8558;
    border: 2px solid #FD8558;
}
/* FOOTER */
footer{
    margin-top: 115px;
    background-color: #111111;
}
.footer-content{
    padding-top: 90px;
    margin-right: auto;
    margin-left:  auto;
    max-width: 1600px;
    padding-right: 150px;
    padding-left:  150px;

    display: flex;
    justify-content: space-between;
}
.footer-content__info{
    max-width: 402px;
}
.footer-content__info h5{
    font-family: 'Poppins';
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 400;
}
.footer-content__info-text{
    display: flex;
    padding-top: 27px;
}
.footer-content__info-text p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}
.footer-content__info-text p:last-child{
    padding-left: 10px;
}
.footer-content__styles-blocks a{
    display: block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #BABABA;
    text-decoration: none;
    padding-top: 9px;
    transition: 0.25s ease-in-out;
}
.footer-content__styles-blocks a:first-of-type{
    padding-top: 19px;
}
.footer-content__styles-blocks a:hover{
    color: #ecebeb;
}
.footer-content__styles-blocks h5{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}
.footer-copyright{
    text-align: center;
    padding: 70px 0 80px 0;
}
.footer-copyright p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #BABABA;
}
.footer-copyright p span{
    color: #FFFFFF; 
}
/* BURGER */
.menu i{
    display: none;
    padding-right: 5px;
}
.show-menu{
    display: flex !important;
    transition: 0.4s;
}
.show-menu li{
    margin-right: 5px;
}
.show-menu li a{
    font-size: 12px;
}
.show-menu li i{
    text-align: center;
    font-size: 5px;
    display: unset;
}

/* ADAPTIVE */
@media screen and (max-width: 575px){
    /* NAVIGATION ADAPTIVE */
    .h-navigation, .h-showcase, .about-us__info, .about-us__advantages-block, .our-skills-block{
        width: 100%;
        padding: 0 15px;
    }
    nav ul:last-of-type{
        display: none;
    }
    .h-navigation nav{
        display: block;
    }
    .h-navigation nav ul li{
        padding-right: 0px;
    }
    .h-navigation nav ul span{
        padding-left: 0px;
    }
    .h-navigation nav ul span{
        /* margin-left: 20px; */
        padding-right: 0;
    }
    .menu{
        display: flex;
    }
    .menu-open{
        display: block;
    }
    .h-showcase{
        padding-bottom: 70px;
    }
    .h-showcase-slogan{
        font-size: 30px;
        padding-top: 70px;
        line-height: 40px;
        padding-bottom: 50px;
    }
    .h-showcase-buttons__start-now{
        padding-bottom: 0px;
    }
    .h-showcase-buttons__start-now a{
        font-size: 13px;
        padding: 10px 20px;
        border: 2px solid #FD8558;
    }
    .h-showcase-buttons__see-more a{
        font-size: 13px;
        padding: 10px 20px;
    }
    /* ABOUT US ADAPTIVE */
    .about-us__block{
        padding-top: 10px;
    }
    .about-us__bg{
        font-size: 70px;
    }
    .about-us__info{
        display: block;
        padding-left: 30px;
    }
    .about-us__short-info{
        padding-left: 0px;
        padding-top: 28px;
    }
    .about-us__short-info p{
        max-width: 435px;
    }
    .about-us_fav-quotes{
        padding-left: 10px;
    }
    .about-us_fav-quotes img{
        max-width: 235px;
        height: 280px;
    }
    .about-us__quote{
        padding-left: 24px;
    }
    .about-us__quote h3{
        font-size: 13px;
        max-width: 200px;
        line-height: 23px;
        padding-top: 38px;
    }
    .about-us__quote h5{
        font-size: 14px;
        padding-top: 40px;
    }
    /* ADVANTAGES ADAPTIVE */
    .about-us__advantages-block{
        display: block;
        padding-left: 70px;
    }
    .advantages{
        padding-top: 50px;
    }
    /* TRANSITION BETWEEN BLOCKA ADAPTIVE */
    .main-block-transition__circle{
        width: 50px;
        height: 50px;
    }
    .main-block-transition__hr-line{
        width: 100px;
    }
    /* LASTEST WORKS ADAPTIVE */
    .lastest-works__head{
        padding: 0px 15px;
    }
    .lastest-works__head-button a{
        font-size: 10px;
        border: 2px solid #FD8558;
        padding: 8px 32px;
    }
    .lastest-works{
        padding-top: 100px;
    }
    .lastest-works__head-bg{
        font-size: 100px;
        padding: 0 15px;
        margin-top: -10px;
        padding-bottom: 35px;
    }
    .lastest-works-examples{
        width: 480px;
        display: block;
    }
    .last-works-examples__adaptive img{
        width: 480px;
    }
    /* OUR SKILLS BLOCK ADAPTIVE */
    .our-skills-block{
        display: block;
    }
    .our-skills-block__text{
        margin-top: 20px;
    }
    .our-skills-graphics{
        padding-left: 0px;
        padding-top: 20px;
    }
    .our-skills-graphics__second h5{
        white-space: nowrap;
    }
    .our-skills-graphics img{
        max-width: 435px;
    }
    .our-skills-graphics__first h5 span{
        padding-left: 270px;
    }
    .our-skills-graphics__second h5 span{
        padding-left: 210px;
    }
    .our-skills-graphics__third h5 span{
        padding-left: 260px;
    }
    /* OUR TEAM BLOCK ADAPTIVE */
    .our-team-block{
        padding: 150px 15px 30px 15px;
    }
    .our-team__cards-fp, .our-team__cards-sp{
        display: block;
    }
    .our-team__cards-sp{
        padding-top: 0px;
    }
    .our-team__cards-adaptive{
        margin-top: 20px;
        margin-left: 50px;
    }
    /* TESTIMONIALS BLOCK ADAPTIVE */
    .testimonials-block{
        width: 100%;
        padding: 0 15px;
    }
    .testimonials-text__bg{
        width: 435px;
        font-size: 74px;
        text-align: unset;
    }
    .testimonials-description{
        padding-top: 30px;
    }
    .testimonials-author{
        padding-bottom: 130px;
    }
    /* NEWS BLOCK ADAPTIVE */
    .news-block__head h5{
        padding-top: 20px;
    }
    .news-block__cards{
        padding: 0 15px;
        display: block;
        padding-left: 65px;
    }
    .news-cards__card-2, .news-cards__card-3{
        padding-top: 50px;
    }
    /* INFORATION BLOCK ADAPTIVE */
    .main-information{
        padding: 0 15px;
        padding-top: 100px;
        display: block;
    }
    .main-information__form{
        padding-top: 40px;
        max-width: 435px;
    }
    .main-information__form-info input{
        padding: 18px 23px 18px 13px;
    }
    /* FOOTER ADAPTIVE */
    .footer-content{
        padding: 90px 15px 0 15px;
    }
    .footer-content__info-text{
        display: block;
    }
    .footer-content__info{
        margin-top: -15px;
    }
}